services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: carsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backend/seed.sql:/docker-entrypoint-initdb.d/seed.sql

  api:
    build: ./backend
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=carsdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

volumes:
  db_data:
